<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headcontent.ejs') %>
    <title>Leaderboards</title>
    <script src="/public/leaders.js" type="module"></script>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main class="container">
      <h1 class="text-center">Leaderboards</h1>
      <h2>Nothing here</h2>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
