<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headcontent.ejs') %>
    <title>Profile</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main class="container">
      <h1 class="text-center">Profile</h1>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
