/* Use this stylesheet for custom CSS */

body{
    background-color: #f0c929;
    background-repeat: no-repeat;
    background-size: cover;
    color: #645c4d;
}

#centerText {
    text-align: center;}

#rightText {
    text-align: right;
    padding: 5px;
}

.badges > div > img {
    height: 100px;
    width: auto;
}

#leadersTable {
    border: 1px solid black;
    padding: 5px;
    width: 80%;
    background-color: #fbe6c2;
}

#leaderName {
    border: 1px solid black;
    padding: 5px;
    width: 80%;
}

#leaderScore {
    border: 1px solid black;
    padding: 5px;
    text-align: right;
}

.leadersHead {
    border: 1px solid black;
    padding: 5px;
}

.container-fluid {
    background-color: #f48b29;
    color: #fbe6c2;
}
.row1 {
    background-color: #fbe6c2;
}
input[type="radio"]{
    margin: 0 10px 0 10px;
  }
